#top-pic {
	min-height: 500px;
	height: 80%;
	background: url("tribune_bldg.jpg");
	background-repeat:no-repeat;
    background-size:cover;

}

#title {
	padding-left: 175px;
	padding-top: 20px;
	font-size: 250px;
	font-weight: bold;
	color: red;
}

#map {
    width: : 100%;
      }

#hsubmit, #submit {
	size: 10%;
}

#filters {
	background-color: #D5CECE;
	font-size: 14px;
	justify-content: left;

}

#crime_type_chart {
	width: 100%;
	font-size: 12px;
	color: black;
}

#home_filter {
	padding-top: 25px;
	text-align: center;
}