

#map {
    width: : 100%;
      }

#top-pic {
	height: 100%;
	background: url("tribune_bldg.jpg");

}

#hsubmit, #submit {
	size: 10%;
}

#filters {
	background-color: #D5CECE;
	font-size: 15px;

}

#crime_type_chart {
	width: 100%;
	font-size: 15px;
	color: black;
}