html, body, #outer-container, #map-container, #map-row {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background-color: #6A8A82;
	font-family: Arial, Helvetica, sans-serif;
}

#top-pic {
	min-height: 500px;
	height: 80%;
	background: url("tribune_bldg.jpg");
	background-repeat:no-repeat;
    background-size:cover;
    padding: 0px;
    width: 100%;
}

#title {
	padding-left: 300px;
	padding-top: 20px;
	font-size: 70px;
	font-weight: bold;
	color: #A61515;
}

#bottom-content {
	background-color: #6A8A82;
	height: 20%;
	width: 100%;
	padding: 0px;
}

#bottom {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

#input {
	padding-top: 10px;
	padding-bottom: 10px;
}

#map {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
      }
#crimeInfo, #homeInfo {
	font-size: 16px;
}

#hsubmit, #submit, #sms-submit {
	size: 10%;
}

#filters {
	background-color: #6A8A82;
	font-size: 15px;
	justify-content: left;
	padding-top: 10px;

}

#crime_type_chart {
	width: 100%;
	font-size: 12px;
	color: black;
	background-color: white;
}

#home_info {
	padding-top: 20px;
}
#home_filter {
	padding-top: 10px;
	text-align: left;
	padding-left: 5px;
}