{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container-fluid" id="outer-container">
	<div class="container-fluid" id="top-pic">
		<div class="row-fluid">
			<div id="title">
				<h3>Safe@Home</h3>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="bottom-content">
		<div class="row-fluid" id="bottom">
			<form action="/map">
				<div>
				Please enter an address in Oakland
				</div>
<!-- 
				<div class="col-sm-10" id="address" name="address">
                    <input type="text" class="form-control form-control-sm" id="max_price" placeholder="Street address">
                </div> -->
				<div id="input">
				  Street address: <input type="text" name="address">
				</div>
				<div id="homepage-submit">
				   <button type="submit" class="btn btn-primary btn-sm">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}