{% extends "base.html" %}

{% block head %}
  {% block title %}Google Map{% endblock %}
  <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}

{% block content %}
 <div id="map"></div>
    <script>
      "use strict";
      let inputAsCenter = {lat: {{ input_lat }}, lng: {{ input_lng }}}
      
      // initMap is called in the API call (see end of src below)
      function initMap() {
      	const crime_data = {{ crime_data|tojson }};
        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: inputAsCenter
        });

        let input_marker = new google.maps.Marker({position: inputAsCenter, 
        										   map: map,
        										   label: "Zillow"});

        

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        let markers = crime_data.map(function(crime) {
          return new google.maps.Marker({
            position: ({lat: crime['lat']}, lng: crime['lng']})|tojson,
            label: "A",
            map: map//TODO icon: set as crimetype icons later#######################################
          });
        });

      }
 		
 	  	
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gkey }}&callback=initMap"
    async defer></script>
{% endblock %}