{% extends "base.html" %}

{% block head %}
  {% block title %}Google Map{% endblock %}
  <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 85%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}


{% block content %}
<div id="buttons">
  
  <input type="checkbox" name="filter" id="Vandalism" class='chk-btn' checked>
  <label for='vandalism'>Vandalism</label>
  
  <input type="checkbox" name="filter" id="Assault" class='chk-btn' checked>
  <label for='assault'>Assault</label>
  
  <input type="checkbox" name="filter" id="theft_larceny" class='chk-btn' checked>
  <label for='theft larceny'>Theft/Larceny</label>

  <input type="checkbox" name="filter" id="robbery" class='chk-btn' checked>
  <label for='robbery'>Robbery</label>

  <input type="checkbox" name="filter" id="disturbing_the_peace" class='chk-btn' checked>
  <label for='disturbing the peace'>Disturbing the Peace</label>

  <input type="checkbox" name="filter" id="motor_vehicle_theft" class='chk-btn' checked>
  <label for='motor vehicle theft'>Motor Vehicle Theft</label>

  <input type="checkbox" name="filter" id="burglary" class='chk-btn' checked>
  <label for='burglary'>Burglary</label>

  <input type="checkbox" name="filter" id="weapons" class='chk-btn' checked>
  <label for='weapons'>Weapons</label>

  <input type="checkbox" name="filter" id="sex_crimes" class='chk-btn' checked>
  <label for='sex crimes'>Sex Crimes</label>

  <input type="checkbox" name="filter" id="drugs_alcohol_violations" class='chk-btn' checked>
  <label for='drugs and alcohol violations'>Drugs/Alcohol Violations</label>

  <input type="checkbox" name="filter" id="arson" class='chk-btn' checked>
  <label for='arson'>Arson</label>
    
  <input type="checkbox" name="filter" id="homicide" class='chk-btn' checked>
  <label for='homicide'>Homicide</label>

  <input type="checkbox" name="filter" id="fraud" class='chk-btn' checked>
  <label for='fraud'>Fraud</label>

  <input type="checkbox" name="filter" id="dui" class='chk-btn' checked>
  <label for='dui'>DUI</label>
  <br>
</div>

  <!-- <form action="/">
    <div id="floating-panel">
        <input id="address" type="textbox" title="Address to Geocode">
        <input type="button" value="submit" onclick="codeAddress()">
    </div>
  </form> -->

  <div id="map"></div> <!-- reserves a spot for the map -->
    <script>
      "use strict";
  let map;
  const crimeData = {{ crime_data|tojson }};
  const homeForSaleData = {{ homes_for_sale_data|tojson }};
  let cMarkers = []; // used for filtering markers
  // filters default to false so all crimes are shown
  let crimeFilters = {Vandalism:false, Assault:false, theft_larceny:false, robbery:false, 
                     disturbing_the_peace:false, motor_vehicle_theft:false, burglary:false, 
                     weapons:false, sex_crimes:false, drugs_alcohol_violations:false, 
                     arson:false, homicide:false, fraud:false, dui:false}


  // toggles the value in the crimeFilters array.
  // if value is false, it's changed to true and vice versa
  // add all the crimeFilters that are true to crime markers
  let filterCrimes = function(id_val) {
    if (crimeFilters[id_val]) {
      crimeFilters[id_val] = false
    } else {
      crimeFilters[id_val] = true
      cMarkers.push(id_val);
      
    }
    console.log(cMarkers);
    filterCrimeData(crimeData, cMarkers);
  }

  

  
  // adds an event listener to the checkboxes looking for a change
  // calls map_filter function. 
  $('input[name=filter]').change(function (e) {
   filterCrimes(this.id);
  })


  function filterCrimeData (crimeData, cMarkers) {
    const results = crimeData.filter(crime => !cMarkers.includes(crime.crime_type));
    console.log(results);
    loadCrimeMarkers(results);
  }

  function initMap() {

    const mapCenter = {lat: {{ input_lat }}, lng: {{ input_lng }}};
    
    // instantiate a new map object with the input address
    // as the center of the map.
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: mapCenter
    }); 
 
    // Add a marker for the center point of the map
    let inputMarker = new google.maps.Marker({
      position: mapCenter,
      label: 'Test',
      map: map
    });

    loadCrimeMarkers(crimeData);
    loadHomeMarkers();
  }

  function loadCrimeMarkers(crimeData) {
  //Add Crime markers to the map.
  // Note: The code uses the JavaScript Array.prototype.map() method to
  // create an array of markers based on a given "crimeData" array.
  // The map() method here has nothing to do with the Google Maps API.
    let crimeMarkers = crimeData.map(function(crime) {
      let cMarker = new google.maps.Marker({
        position: {lat: crime['lat'], lng: crime['lng']},
        label: 'C',
        map: map,
        cagegory: crime['crime_type']
      }); 
     
    
      //TODO icon: set as crimetype icons later#######################################
    
      let crimeInfoWindowContent = `<div id="crimeInfo">
      <ul style="list-style-type:none">
      <li><b>Type of Crime:</b> ${crime.crime_type}</li>
      <li>Date and Time of Occurance: ${crime.date_time}</li>
      <li>Case Number: ${crime.case_num}</li>
      <li>Description of Crime: ${crime.description}</li>
      <li>Police Beat: ${crime.police_beat}</li>
      <li>Agency: Oakland Police Department</li>
      </ul>
      </div>`;

    // check here if filter is false

      let crimeInfowindow = new google.maps.InfoWindow({
        content: crimeInfoWindowContent
      });

      cMarker.addListener('click', function() {
       crimeInfowindow.open(map, cMarker);
      });
      
    }); 
  }

  function loadHomeMarkers() {
    // Add Homes for Sale markers to the map.
    // Note: The code uses the JavaScript Array.prototype.map() method to
    // create an array of markers based on a given "crimeData" array.
    // The map() method here has nothing to do with the Google Maps API.
    let homeMarkers = homeForSaleData.map(function(home) {
      let hMarker = new google.maps.Marker({
        position: {lat: home['latitude'], lng: home['longitude']},
        label: 'H',
        map: map,
      //TODO icon: set as home icons later#######################################
      });
    
      let homeInfoWindowContent = `<div id="homeInfo">
      <ul style="list-style-type:none">
        <li><b>Address:</b> ${home.street_adrs} ${home.city}, ${home.state}</li>
        <li><b>Neighborhood:</b> ${home.neighborhood}</li>
        <li><b>Price:</b> $${home.price}</li>
        <li><b>Days on the Market:</b> ${home.days_on_market}</li>
        <li><b>Type of Property:</b> ${home.property_type}</li>
        <li><b>Year Built:</b> ${home.year_built}</li>
        <li><b>Square Footage:</b> ${home.sq_ft}</li>
        <li><b>Price per Square Foot:</b> $${home.price_per_sqft}</li>
        <li><b>Number of Bedrooms:</b> ${home.num_bed}</li>
        <li><b>Number of Bathrooms:</b> ${home.num_bath}</li>
        <li><b>Lot Size(ft):</b> ${home.lot_size}</li>
        <li><b>HOA Dues per Month:</b> $${home.hoa_per_month}</li>
        <li><b>MLS number:</b> ${home.mls_num} </li>
      </ul>
      </div>`;

      let homeInfowindow = new google.maps.InfoWindow({
        content: homeInfoWindowContent
      });

      hMarker.addListener('click', function() {
       homeInfowindow.open(map, hMarker);
      });
    });  
    
  }


  // function codeAddress() {
  //   // get the value of the input addresss
  //   const address = document.getElementById('address').value;

  //   // call the geocode method on the instantiated geocoder object, which
  //   // take in the address from above and a function which takes in 
  //   // 2 args: the results of the geocode method and the status.
  //   // If status is OK, the center of the map is changed to the input address
  //   // and a marker is added at that position too.
  //   // If status not OK, an alert pops up
  //   geocoder.geocode( { 'address': address}, function(results, status) {
  //     console.log(results[0]);
  //     if (status == 'OK') {
  //       map.setCenter(results[0].geometry.location);
  //       const marker = new google.maps.Marker({
  //           map: map,
  //           position: results[0].geometry.location
  //       });
  //     } else {
  //       alert('Geocode was not successful for the following reason: ' + status);
  //     }
  //   });
  // }

    


 		
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gkey }}&callback=initMap"
    async defer></script>
{% endblock %}