{% extends "base.html" %}

{% block head %}
  {% block title %}Google Map{% endblock %}
  <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}

{% block content %}
 <div id="map"></div>
    <script>
      "use strict";
      let inputAsCenter = {lat: {{ input_lat }}, lng: {{ input_lng }}}
      
      // initMap is called in the API call (see end of src below)
      function initMap() {
      	const crimeData = {{ crime_data|tojson }};
        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: inputAsCenter
        });

        // Create a marker for the input address
        // TODO attach Zillow info to this (Or just have another window)
        let inputMarker = new google.maps.Marker({position: inputAsCenter, 
        										   map: map,
        										   label: 'Z'});

        let crimeInfoWindowContent = '<div id="crimeInfo">' +
        '<ul style="list-style-type:none">' +
        '<li>Type of Crime: Robbery</li>' +
        '<li>Date and Time of Occurance: 12/12/18 07:30:00</li>' +
        '<li>Case Number: 18-12345</li>' +
        '<li>Description of Crime: Strong Arm Robbery</li>' +
        '<li>Agency: Oakland Police Department</li>' +
        '</ul>' +
        '</div>';

        let infowindow = new google.maps.InfoWindow({
          content: crimeInfoWindowContent
        });

        inputMarker.addListener('click', function() {
            infowindow.open(map, inputMarker);
          });

        

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        let markers = crimeData.map(function(crime) {
          return new google.maps.Marker({
            position: {lat: crime['lat'], lng: crime['lng']},
            label: 'C',
            map: map//TODO icon: set as crimetype icons later#######################################
          });
        });
        console.log(markers);
      }
 		
 	  	
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gkey }}&callback=initMap"
    async defer></script>
{% endblock %}